.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 250px;
  position: relative;
  top: 250px;
  margin: 0 auto;
  font-size: 20px;
  border: 2px solid black;
  padding-top: 25px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
  background-color: #fdb91e;
}

.login-form h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-form a{
  text-decoration: none;
  color:#ff1b09;
}

.login-form div{
  width: 100%;
  padding-top: 15px;
}
.password{
  padding-bottom: 10px;
}

.login-form button{
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border-radius: 10px;
}

.login-form button:hover {
  background-color: #41b6e6;
}

.login-form input {
  margin-left: 5px;
  padding: 5px;
}

.login-form label{
  letter-spacing: 1px;
  font-weight: bold;
}

.login-form input:active{
  background-color: #41b6e6;
}

.login-form a:hover {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .login-form{
    width: 300px;
    margin-left: 100px;
  }
}