.image-carousel{
  display:flex;
  flex-direction: column;
  width: 80vw;
}

.slide.selected{
  margin-top: 30px;
  margin-left: 100px;
  width: 30%;
  overflow: hidden;
}

.images{
  overflow: hidden;
  display: inline-flex;
  height: 50vw;
  width: 60vw;
  object-fit: cover;
  align-items: center;
  border-radius: 5px;
} 