.image-carousel{
  display:flex;
  flex-direction: column;
  overflow: hidden;
  width: 40vw;
  margin: 3% auto;
  border-radius: 20px;
}

.slide.selected{
  margin: 0;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.images{
  overflow: hidden;
  display: inline-flex;
  object-fit: cover;
  align-items: center;
  border-radius: 5px;
} 